<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PasswordWallet</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <script th:href="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body th:object="${user}">
<main>
    <nav class="navbar navbar-expand navbar-dark bg-primary" aria-label="Second navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">Password Wallet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
                    aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/websitesList}">Passwords List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/website}">Add new website</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/changePassword}">Change your password</a>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
                            <button class="btn btn-danger my-2 my-sm-0 btn-sm"
                                    type="submit">Log out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1> Hello <span th:text="${user.login}"> </span></h1>

    <h6>Your last logins</h6>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Login Time</th>
            <th scope="col">Login Result</th>
            <th scope="col">IP address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="login : ${logins}">
            <td th:text="${login.loginTime}"></td>
            <td th:text="${login.loginResult}"></td>
            <td th:text="${login.ipAddress}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
